{% extends 'fronted/base.html' %}
{% load static %}
{% block content %}
 <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">

                <li class="{% if request.get_full_path == index_list %}active{% endif%}">
                    <a href="{% url 'index_list' %}">Home</a>
                </li>
                <li class="{% if request.get_full_path == about_list %}active{% endif%}">
                    <a href="{% url 'about_list' %}">About</a>
                </li>
                <li class="{% if request.get_full_path == recipe_list %}active{% endif%}">
                    <a href="{% url 'recipe_list' %}">Recipe</a>
                </li>
                <li class="{% if request.get_full_path == blog_list %}active{% endif%}">
                    <a href="{% url 'blog_list' %}">Blog</a>
                </li>
                <li class="{% if request.get_full_path == contact_list %}active{% endif%}">
                    <a href="{% url 'contact_list' %}">Contact Us</a>
                </li>
            </ul>

        </nav>
    </div>
<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title">
                <i><img src="{% static 'images/title.png' %}" alt="#"/></i>
                
                <span>It is a long established fact that a reader will be distracted by the readable content of a
                   <br> page when looking at its layout. The point of using Lorem
                </span>
             </div>
          </div>
       </div>
      <div class="row">
            {% for about in abouts %}
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                 <div class="about_box">
                     <h3>{{about.name}}</h3>
                     <p>{{about.description}}</p>
                     <a href="#">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                 </div>
             </div>
             <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
                 <div class="about_img">
                     <figure><img src="/media/{{about.image}}" alt="#/"></figure>
                 </div>
             </div>
            {% endfor %}
      </div>
    </div>
</div>
{% endblock %}


