{% extends 'fronted/base.html' %}
{% load static %}
{% block content %}
 <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">

                <li class="{% if request.get_full_path == index_list %}active{% endif%}">
                    <a href="{% url 'index_list' %}">Home</a>
                </li>
                <li class="{% if request.get_full_path == about_list %}active{% endif%}">
                    <a href="{% url 'about_list' %}">About</a>
                </li>
                <li class="{% if request.get_full_path == recipe_list %}active{% endif%}">
                    <a href="{% url 'recipe_list' %}">Recipe</a>
                </li>
                <li class="{% if request.get_full_path == blog_list %}active{% endif%}">
                    <a href="{% url 'blog_list' %}">Blog</a>
                </li>
                <li class="{% if request.get_full_path == contact_list %}active{% endif%}">
                    <a href="{% url 'contact_list' %}">Contact Us</a>
                </li>
            </ul>

        </nav>
    </div>
{% endblock %}
